* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* === Títulos === */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #111;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.8rem; /* para desktop */
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}

/* === Texto general === */
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #555;
}

/* === Botones y tags === */
button, .tag {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* Hero base */
.hero-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  flex-shrink: 1;
  height: 100svh;
  display: flex;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-height: 100svh; /* O lo que quieras para mobile */
}

/* Botones de navegación */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Escritorio */
@media (min-width: 768px) {
  .slide {
    height: 550px;
  }

  .slide img {
    height: 100%;
    max-height: unset;
  }
}


/* general-body */
.general-body{
        display: flex;
    flex-direction: column;
}

.main-data{
    display: flex;
    justify-content: center;
}
.main-data-item{
    width: 100%;
    max-width: 420px;
    height: 120px;
    /* max-height: 120px; */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-data-item-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.main-data-item-text-title{
    font-size: 20px;
}
.main-data-item-text-p{
    font-size: 16px;
}
.borde{
    border-right: #000 1px solid;
}

/* Escritorio */
@media (max-width: 768px) {
  .main-data{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .borde{
      border-bottom: #000 1px solid;
      border-right: none;
  }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.6rem; }
  h3 { font-size: 1.2rem; }
}